.skills{
    margin-bottom: 6%;
}

.skills__title{
    text-align:center;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 1rem;
}

.skills__lenguajes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__box{
    display:flex;
    flex-direction: column-reverse;
    background: #FFFFFF;
    margin-bottom: 1rem;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
    width: 180px;
    height:130px;
}

.skills__icon{
    width: 80px;
    height: 80px;
}
.skills__conten{
    margin: 0;

}
.skills__box__li{
    list-style: none;
    margin-bottom: 0.5rem;
    font-size: 20px;
    text-align: center;
}
@media (max-width: 768px) {
    .skills__title{
        font-size: 20px;
        line-height: 24px;

    }

    .skills__lenguajes{
    justify-content: space-around;
    }
    .skills__box{
        height:100px;
    }
    .skills__icon{
        width: 40px;
        height: 50px;
    }
    .skills__box__li{
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .skills__title{
        font-size: 20px;
        line-height: 24px;
    }
    .skills__box__li{
        font-size: 16px;
    }
    .skills__box{
        width: 130px;
    }
    .skills__icon{
        width: 30px;
        height: 40px;
    }
}