.show{
    width: 20%;
}

.div-ocultar-main{
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    background: rgb(95, 95, 109);
    z-index: 3;
    opacity: 0.9;
    display: none;
}   
