.footer{
    margin-top: 6%;
    margin-bottom: 6%;
}

.footer__content{
    text-align: center;
}
.footer__desarrollado{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    

}

.footer__list{
    display: flex;
    justify-content: center;
}
.footer__red{
    font-size: 16px;
    margin-right: 2rem;
    list-style: none;

}

.footer__enlace{
    text-decoration: none;
    color: #183153;;
}

.fa-brands{
    margin:0.5rem;
}

