@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #eee;
   --cor-de-link: #000;
   --montserrat: "Montserrat", sans-serif;
   --open-seans: "Open Sans", sans-serif;
   --corlo-fondo-container: #EAF2FD;
   --corlo-fondo-letras: #464646;
   --secondary-color: #c5e1ff;
   --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}
.main{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 6%;
}
.container{
    margin-bottom: 6%;
}
#secciones{
    margin-bottom: 3rem;
}