.formacion{
    background: var(--corlo-fondo-container);
}


.formacion__margen{
    padding: 6% 0 6% 0;
}

.formacion__title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 1rem;
}

.formacion__cursos{
    display: flex;
    justify-content: space-between;
}
.formacion__cursos__box{
    width: 30%;
}
.formacion__content-img{
    background: #FFFFFF;
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
}
.formacion__img{
    height: 180px;
    width: 100%;
}
.formacion__texto{
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}

.formacion__fecha{
    font-weight: 500;
    font-size: 18px;
}

@media (max-width: 768px) {
    .formacion__title{
        font-size: 26px;
    }
    .formacion__content-img{
        padding: 2rem;
        
    }
    .formacion__cursos__box{
        width: 40%;
    }
    .formacion__img{
        width: 200px;
    }
    
    .formacion__texto{
        font-size: 22px;
    }
    .formacion__fecha{
        font-size: 16px;
    }

}
@media (max-width: 480px) {
    .formacion__cursos{
        flex-direction: column;
    }
    .formacion__title{
        font-size: 20px;
    }
    .formacion__cursos__box{
        width: 100%;
    }
    .formacion__img{    
        width: 100%;
    }
    .formacion__texto{
        font-size: 18px;
        line-height: 26px;
    }
    .formacion__fecha{
        font-size: 12px;
    }

}