.contacto{
    background: var(--corlo-fondo-container);
    display: flex;
    justify-content: space-between;
    
}
.contacto__content{
    width: 50%;
    padding: 2rem;
}
.contacto__img{
    width: 100%;
}
.conatcto__content-header{
    margin-bottom: .5rem;
}
.contacto__header{
    color: #464646;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: .3rem;
}
.contacto__parrafo{
    color: #464646;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: justify;
}
fieldset{
    padding:0;
}