.contacto{
    background: var(--corlo-fondo-container);
    display: flex;
    justify-content: space-between;
    
}
.contacto__content-img{
    width: 50%;
    padding: 2rem;
}
.contacto__img{
    width: 100%;
}
.contacto__formulario
{
    width: 50%;
    padding: 2rem;
}
.conatcto__content-header{
    margin-bottom: .5rem;
}
.contacto__header{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: .3rem;
}
.contacto__parrafo{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: justify;
}
fieldset{
    padding:0;
}

@media (max-width: 768px) {
    .contacto__content-img{
        display: none;
    }
    .contacto__formulario{
        width: 100%;

    }
    .contacto__header{
        font-size: 26px;
        line-height: 30px;
    }
    .contacto__parrafo{
        font-size:14px;
        line-height: 16px;
    }
}

@media (max-width: 480px) {
    .contacto__header{
        font-size: 20px;
        line-height:24px;
    }
    .contacto__parrafo{
        font-size:12px;
        line-height: 14px;
    }
}
