
.input-container{
    font-weight: var(--font-weigth-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;

}

.form__input{
    box-sizing: border-box;
    background:transparent;
    border-bottom: 1px solid var(--secondary-color);

    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;

}
.form__input:focus{
    outline: none;
}

.form__input-label{
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: var(--font-size-input-label);
    transition: all 0.25s;
    
}
.form__input::placeholder{
    visibility: hidden;
    color: #000000;
}
.form__input:not(:placeholder-shown) + .form__input-label,
.form__input:focus + .form__input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

.form__input-label:focus{
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
    background: red;
}

.textarea-container{
    width: 100%;
    margin-bottom: 1rem;

}
.form__texarea{
    background: transparent;
    box-sizing: border-box;
    color: #464646;
    padding: .5rem;    
    resize:none;
    width: 100%;
    border: 1px solid var(--secondary-color);
}
.form__texarea:focus{
    outline:none;
}

.button{
    color: black;
    font-size: 16px;
    padding:16px;
    border:1px solid #2A7AE4;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.75s;
    width: 45%;
}
.button:hover{
    transform: scale(1.20);

}


.input-container--invalid {
    margin-bottom:.5rem;
}
.input-container--invalid .form__input{
    border: 1px solid #df2525;
}

.input-container--invalid .form__input-label{
    color:#df2525;
}

.form__mensaje-error{
    display: none;
}

.input-container--invalid .form__mensaje-error{
    color: #df2525;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
